fastapi==0.115.0
uvicorn==0.32.0
pydantic==2.9.2
stim==1.13.0
qiskit==1.2.4
qiskit-aer==0.15.1
pymatching==2.2.2
numpy==2.1.2
python-dateutil==2.9.0
matplotlib==3.10.1
psycopg2-binary==2.9.10
pylatexenc==2.10
PyMatching==2.2.2
SQLAlchemy==2.0.40

